@font-face {
    font-family: 'NotoSans';
    src: url(../../assets/fonts/NotoSansHK-Regular.otf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans';
    src: url(../../assets/fonts/NotoSansHK-Medium.otf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans';
    src: url(../../assets/fonts/NotoSansHK-Bold.otf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSans';
    src: url(../../assets/fonts/SourceSansPro-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSans';
    src: url(../../assets/fonts/SourceSansPro-SemiBold.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSans';
    src: url(../../assets/fonts/SourceSansPro-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}