//Responsive Variables
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;
$widescreen-breakpoint: 1450px;
$verywide-breakpoint: 1900px;


//Font Variables
$primary-pink: #ff5851;
$cta-pink: #C3002F;
$primary-black: #1C1C1C;