@import '../../styles/global.scss';

.scratch {
    display: none;

    @include desktop {
        height: 90vh;
        padding: 10% 0 0 15%;
        display: flex;
        flex-direction: column;
        background: linear-gradient(to right, $primary-pink 25%, white 10%);
    }
}

#scratch {
  display: block;
	margin: auto;
  background-image: url('../../assets/skills/allskills2.png');
	background-size: cover;
	width: 100%;
	max-width: 750px;
	height: auto;
  margin-top: 0;
  cursor:  crosshair;
  cursor: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/circular-cursor.png) 53 53, crosshair;
}

#scratchContainer {
    margin: 0;
    padding: 0;
}


.skills-link {
    $self: &;
    display: none;
    align-items: center;
    position: absolute;
    right: -115px;
    top: 100px;
    padding: 5px;
    text-decoration: none;
    transform: rotate(-90deg) translate3d(-300px, 0, 0);
  
    @include tablet {
        display: inline-flex;
        right: -10%;
        top: 260%;
    }
  
    @include desktop {
      right: -100px;
      top: 1750px;
    }

    @include wide {
      top: 1700px;
    }
  
    &__arrow {
      display: inline-flex;
  
      span {
        position: relative;
        width: 14px;
        height: 2px;
        border-radius: 2px;
        overflow: hidden;
        background: #BEBDBE;
        z-index: 2;
  
        &:nth-child(1) {
          transform-origin: left bottom;
          transform: rotate(45deg) translate3d(8px, -10px, 0);
        }
  
        &:nth-child(2) {
          transform-origin: left bottom;
          transform: rotate(-45deg);
        }
  
        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          width: 0;
          height: 2px;
          background: #C3002F;
        }
      }
    }
  
    &__line {
      position: relative;
      margin-left: -14px;
      margin-right: 30px;
      width: 150px;
      height: 2px;
      background: #BEBDBE;
      overflow: hidden;
      z-index: 1;
  
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 80px;
        width: 70px;
        height: 2px;
        background: $primary-pink;
      }
    }
  
    &__text {
      color: #4A4A4A;
      font-family: 'Oswald', sans-serif;
      font-size: 12px;
      text-transform: uppercase;
  
      @include tablet {
          font-size: 18px;
      }
    }
  
    &:hover {
      #{$self} {
        &__line {
          &:after {
            animation: animation-line 1.5s forwards;
          }
        }
  
        &__arrow {
          span {
            &:after {
              animation: animation-arrow 1.5s forwards;
              animation-delay: 1s;
            }
          }
        }
      }
    }
  }
