@import '../../styles/global.scss';


.navigation {
  margin: 0;
  padding: 0;
  height: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;

  &__contact {
      position: fixed;
      top: 30px;
      right: 10px;

      @include tablet {
          top: 80px;
          right: 30px;
      }

      @include desktop {
          top: 60px;
          right: 20px;
      }
  }

  &__contact-list {
    list-style-type: none;
  }
}

a {
    text-decoration: none;
    color: $primary-black;
}

ion-icon {
    font-size: 18px;

    @include tablet {
        font-size: 26px;
    }

    @include desktop {
        font-size: 30px;
    }
  }

#menuToggle {
  display: block;
  position: fixed;
  top: 20px;
  left: 5px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;

  @include tablet {
    left: 15px;
  }
}

#menuToggle a {
  text-decoration: none;
  color: #4A4A4A;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: $primary-pink;
}


#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;

  @include tablet {
    top: -7px;
    left: -5px;
  }
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 15px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: $primary-black;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;

  
  @include tablet {
    width: 33px;
  }
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: $primary-black;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 110px;
  margin: -100px 0 0 -50px;
  padding: 0;
  padding-top: 125px;
  
  // background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

  @include desktop {
    padding: 10px;
    padding-top: 120px;
  }
}

#menu li
{
  padding: 30% 0;
  font-family: 'Oswald';
  font-size: 1rem;
  transform: rotate(90deg);
  text-transform: lowercase;
  font-weight: 500;

  @include desktop {
    font-size: 20px;
  }
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}